<%- include("templates/header") %>
<link rel="stylesheet" href="../style/common.css">
<!-- cite css or js files here -->
</head>
<body>
    <div class="content">
        <!-- your code goes inside here -->
        <h1 class="display-1 fw-bold">404</h1>
    </div>

</body>
</html>