<%- include('templates/header') %>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    
    
    <link rel="stylesheet" href="/assets/common.css" />
    <!-- cite css or js files here -->
</head>
<body>
    <%- include('templates/nav') %>
    <div class="container">
        <form class="card text-center m-4" action="/groupconfirm" method="post">
            <div class="card-title">
                <h1>Create your group!</h1>
            </div>
            <div class="card-body">
                <h3>What is your group name?</h3>
                <p>Must be 20 characters or less.</p>
                <input type="text" id="groupName" name="groupName">
                <div class="buttonGroup">
                    <button class="btn btn-secondary" onclick="window.location.href='/userprofile'">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
            <% if (error != null) { %>
                <div class="alert alert-danger d-flex justify-content-center mx-auto" style="width: 80%"role="alert">
                    <p class="alert-heading">
                        <%- error %>
                    </p>
                </div>
            <% } %>

        </form>
    </div>
    <%- include('templates/bottomNav') %>
</body>