<h1>I forgot password</h1>
<form action="/forgotPassword" method="post">
    <input type="email" name="email" placeholder="Enter your email address">
    <button type="submit" name="reset-request-submit">Receive new password by email</button>
</form>
