<%- include("templates/header") %>
<link rel="stylesheet" href="/assets/common.css" />
<!-- cite css or js files here -->
</head>
<body>
<div class="content">
    <!-- your code goes inside here -->
    <h1>home page</h1>
</div>

</body>
</html>