<%- include("templates/header") %>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/common.css" />
    <!-- cite css or js files here -->
    </head>
<body class="theme">
    <div class="container text-center" id="landingPage">
        <h1>VacaPal</h1>
        <h4>Plan your next vacation with friends!</h4>
        <button class="btn btn-secondary" onclick="window.location.href='/signup'">Sign Up</button>
        
    </div>

</body>
</html>