<%- include("templates/header") %>
    </head>

    <body>
        <%- include("templates/nav") %>
        <% if (typeof success !== 'undefined') { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <main class="form-signin w-100 m-auto">
            <div class="d-flex gap-2 justify-content-center py-5">
                <form class="text-center" action="/login" method="post">
                    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                        width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>


                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" name="email" placeholder="">
                        <label for="email">Email address</label>
                    </div>
                    

                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="">
                        <label for="password">Password</label>
                    </div>
                    <br>
                    <button class="btn btn-block" type="submit" value="login"
                        style="background-color: #2f164f; color: white;">Log in</button>
                </form>
                <a href="/forgotPassword">Forgot password?</a>
            </div>
        </main>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger d-flex justify-content-center mx-auto mb-0" id="alertBox" style="width: 23%;" role="alert">
                <p class="alert-heading">
                    <% if (errorType === 'InvalidEmailFormat') { %>
                        Invalid email format.<br> Please enter a valid email address.
                    <% } else if (errorType === 'UserNotFound') { %>
                        User is not found.
                    <% } else if (errorType === 'IncorrectPassword') { %>
                        Password is not correct.
                    <% } %>
                </p>
            </div>
        <% } %>
        <%- include("templates/bottomNav") %>
        <script src="/scripts/resetPassword.js"></script>
    </body>