<%- include("templates/header") %>

<h1>RESET YOUR PASSWORD</h1>
<p>Reset password for email: <%= email %></p>
<form action="/resetPassword" method="post">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="password" name="password" placeholder="Enter a new password">
    <input type="password" name="confirmPassword" placeholder="Confirm your new password">
    <button type="submit" name="reset-password-submit">Reset password</button> 
</form>      