<%- include("templates/header") %>
<script src="../public/scripts/resetPassword.js" defer></script>
</head>

    <h1>RESET YOUR PASSWORD</h1>

    <form action="/resetPassword" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="password" name="password" placeholder="Enter a new password">
        <input type="password" name="confirmPassword" placeholder="Confirm your new password">
        <button type="submit" name="reset-password-submit">Reset password</button>
    </form>   




    
    <script>
        setTimeout(function() {
            var alertBox = document.getElementById('error-alert');
            if (alertBox) {
                alertBox.parentNode.removeChild(alertBox);
            }
        }, 2000);
    </script>