<%- include("templates/header") %>
<link rel="stylesheet" href="/assets/common.css" />
<link rel="stylesheet" href="/assets/userProfile.css" />
<!-- cite css or js files here -->
</head>
<body>
<div class="content userProfileContent">
    <!-- your code goes inside here -->
    <section class="profile">
        <div class="ImageArea">
            <img src="userProfileImages/avatar-default.png" alt="avatar" />
        </div>
        <p class="username">Muyang Li</p>
    </section>
</div>

</body>
</html>