<nav class="nav nav-fill background fixed-bottom">
    <!-- I want to change the color of the icon and add the text underneath, will do when I have time-->
    <a class="nav-item nav-link bottomNav col-4" id="chat" href="/chatroom">
        <span class="material-symbols-outlined">
            sms
        </span>
        <p class="bottomTitle">Messages</p>
    </a>
    <a class="nav-item nav-link bottomNav col-4" id="expanse" href="/home">
        <span class="material-symbols-outlined">
            home
        </span>
        <p class="bottomTitle">Home</p>
    </a>
    <a class="nav-item nav-link bottomNav col-4" id="profile" href="/userprofile">
        <span class="material-symbols-outlined">
            person
        </span>
        <p class="bottomTitle">Me</p>
    </a>
</nav>

<div id="primaryAlert" class="alert alert-success alert-dismissible" role="alert">
    <div id="alertMessage" style="margin-top:-10px;font-size:18px;text-align: center;"></div>
</div>
