<nav class="nav nav-fill background fixed-bottom">
    <!-- I want to change the color of the icon and add the text underneath, will do when I have time-->
    <a class="nav-item nav-link bottomNav col-4" id="chat" href="/chatroom">
        <span class="material-symbols-outlined">
            sms
        </span>
        <p class="bottomTitle">Messages</p>
    </a>
    <a class="nav-item nav-link bottomNav col-4" id="expanse" href="#">
        <span class="material-symbols-outlined">
            paid
        </span>
        <p class="bottomTitle">Expense</p>
    </a>
    <a class="nav-item nav-link bottomNav col-4" id="profile" href="/userprofile">
        <span class="material-symbols-outlined">
            person
        </span>
        <p class="bottomTitle">Me</p>
    </a>
</nav>