<hr>

<div id="bucketlist">

    <button id="addBucketList" type="button" class="btn border addbtn justify-content-center">
        <span class="material-symbols-outlined">
            add
        </span>
    </button>

    <div class="card">
        <img class="card-image" src="../image/001.jpg" alt="Card image cap">
        <div class="text-overlay">
            <h2>PARIS</h2>
        </div>
    </div>
    <!-- above card is a place holder -->
</div>

<script>
    document.getElementById('addBucketList').onclick = function () {
        window.location.href = '/enterBucket'; 
    };
</script>