<!-- side nav bar -->

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<!-- side nav bar above -->

<!-- As a link -->
<nav class="topnav d-flex justify-content-between theme whiteText">
    <a class="navbar-brand" onclick="openNav()" href="#">
        <span class="material-symbols-outlined" style="font-weight: 300;">
            menu
        </span>
    </a>
    <a class="navbar-brand" href="/home">LOGO</a>
</nav>
