<!-- side nav bar -->

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<!-- side nav bar above -->

<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" onclick="openNav()" href="#">Navbar</a>
</nav>
