<!-- As a link -->
<nav class="topnav d-flex justify-content-between theme whiteText fixed-top">
    <a class="navbar-brand" onclick="back()" href="#">
        <span class="material-symbols-outlined" style="font-weight: 300;">
            arrow_back_ios
        </span>
    </a>
</nav>
