#chatBackGround {
    background-color: rgba(233, 148, 169, 0.25);
}

.chatBottomBox {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 45px;
    background-color: var(--backgroundWhite);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .15);
}

.chatBottomBox {
    display: flex;
    align-items: center;
}

.chatIconButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blush);
    cursor: pointer;
}

.chatInput {
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--lightTheme) !important;
}

.chatInput:focus {
    outline: 1px solid rgba(167, 45, 139, 0.6) !important;
}

.chatMessage {
    min-height: 70px;
    display: flex;
}


.chatMessageBoxOne {
    margin-right: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

.emojiIcon{
    position:absolute;
    right:-5px;
    bottom:-5px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    60% { transform: translateX(-1px); }
    80% { transform: translateX(1px); }
    100% { transform: translateX(0); }
  }
  
  .emojiAnimate {
    animation: shake 0.4s;
    animation-iteration-count: 1;
  }
  


.chatMessageHeader {
    position: absolute;
    top: 7px;
}

.chatMessageText {
    margin-top: 28px;
    word-wrap: break-word;
    width: 100%;
}

.messageImage {
    width: 50px;
    height: 50px;
    background-color: var(--backgroundWhite);
    border-radius: 50%;
    border: 1px solid #34495e;
}

.messagerName {
    color: black;
    font-weight: bold;
}


.chatNotification {
    margin-top: 5px;
}

.chatNotification{
    height: 50px;
    margin-top:20px;
    margin-bottom:22px;
    text-align: center;
}


#chatRoomView::-webkit-scrollbar {
    display: none
}

#chatRoomView .chatMessage:last-child {
    margin-bottom: 60px;
    height: 120px;
}

#imageInputHolder {
    position:absolute;
    opacity:0;
    margin-bottom: 50px;
}

#container {
    overflow-y: auto;
}
.chatMessageBoxTwo {
    position: relative;
    flex: 1;
    background-color: unset;
    display: inline-block;
    height:fit-content;
}
.chatMessageText {
    font-size: 17px;
    color: black;
    display: flex;
    align-items: flex-start;
}

.clientImage{
    width:200px;
    height:auto;
    flex-grow: 1;
}