/* this file includes some common css settings for all pages */
:root {
    --lightTheme: #A72D8b;
    --theme: #672c79;
    --blush: #C96B67;
    --pink: #e994a9;
    --beige: #f8c1a5;
    --text: #81868d;
    --backgroundWhite: #FFFFFF;
}

.theme {
    background-color: var(--theme);
}

.kightTheme {
    background-color: var(--lightTheme);
}

.text {
    color: var(--text);
}

.background {
    background-color: var(--backgroundWhite);
}

/* erase some unnecessary default css setting */
* {
    margin:0;
    padding:0;
    text-decoration: none;
}

html, body {
    background-color: var(--backgroundWhite);
    color: var(--text)
}

/* common css style start here */
.content {
    padding-left:5vw;
    padding-right:5vw;
    padding-top:50px;
}