.bootstrap-select .dropdown-menu {
    width: 100%;
}

.dropdown-toggle {
    border: 1px solid #ced4da !important;
}

.city-select {
    margin-top: 5px;
    width : 100% !important;
}

.selected .text {
    color: #fff;
}

.active .text {
    color: #fff;
}