.forgotId{
    font-size: small;

}

.loginBtn{
    background-color: var(--theme);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: small;
}

.resetBtn{
    background-color: var(--theme);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    width: 60%;
    font-size: small;
}

.resetBtn:hover {
    background-color: var(--theme);
    color: white;
}

.resetConfirmBtn {
    background-color: var(--theme);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    width: 70%;
    font-size: small;
}

.resetConfirmBtn:hover {
    background-color: var(--theme);
    color: white;
}

.signupBtn{
    background-color: var(--theme);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: small;
}

