body#auth-background {
    color: #FFFFFF;
    height: 100vh;
    background-color: var(--theme);
    background-image: linear-gradient(to bottom right, var(--lightTheme), var(--theme));
}

.forgotId{
    font-size: small;

}

.form-area {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBtn{
    background-color: var(--pink);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: small;
}

.resetBtn{
    background-color: var(--pink);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    width: 60%;
    font-size: small;
}

.resetBtn:hover {
    background-color: var(--pink);
    color: white;
}

.resetConfirmBtn {
    background-color: var(--pink);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    width: 70%;
    font-size: small;
}

.resetConfirmBtn:hover {
    background-color: var(--pink);
    color: white;
}

.signupBtn{
    background-color: var(--pink);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: small;
}

a {
    color: white;
    text-decoration: none;
}